 <h1 style="text-align: center;">this is data</h1>


<div *ngIf="printData.length > 0">
  <div class="data-container">
    <mat-list role="list">
      <div *ngFor="let data of printData; let i = index">
        <div class="d-flex justify-content-end">
      <button (click)="onEdit(i)" class="btn btn-edit">Edit</button>
         </div>
        <mat-list-item role="listitem">Number: {{ i +1}}</mat-list-item>
        <mat-list-item role="listitem">Name: {{ data.firstname +' ' + data.lastname}}</mat-list-item>
        <mat-list-item role="listitem">Email: {{ data.email }}</mat-list-item>
        <mat-list-item role="listitem">Gender: {{ data.gender }}</mat-list-item>
        <mat-list-item role="listitem">Age: {{ data.age }}</mat-list-item>
        <mat-list-item role="listitem">DOB: {{ data.DOB }}</mat-list-item>
        <mat-list-item role="listitem">
  Address: 
  <span class="address-hover">
    {{ data.address.split(',')[0] }} 
    <span class="address-full">,{{data.address.slice(data.address.indexOf(',') + 1) }}</span> 
  </span>
</mat-list-item>
      
    <hr>

      </div>
    </mat-list>
  </div>
</div>

