<h2>Manage user data <button  (click)="create()"   class="create-btn">Create Data</button></h2>


<div *ngIf="storedData.length > 0">
  <div class="data-container">
    <mat-list role="list">
      <div *ngFor="let data of storedData; let i = index">
        <mat-list-item role="listitem">Number: {{ i +1}}</mat-list-item>
        <mat-list-item role="listitem">Name: {{ data.firstname +' ' + data.lastname}}</mat-list-item>
        <mat-list-item role="listitem">Email: {{ data.email }}</mat-list-item>
        <mat-list-item role="listitem">Gender: {{ data.gender }}</mat-list-item>
        <mat-list-item role="listitem">Age: {{ data.age }}</mat-list-item>
        <mat-list-item role="listitem">DOB: {{ data.DOB }}</mat-list-item>
        <mat-list-item role="listitem">
  Address: 
  <span class="address-hover">
    {{ data.address.split(',')[0] }} 
    <span class="address-full">,{{data.address.slice(data.address.indexOf(',') + 1) }}</span> 
  </span>
</mat-list-item>
      

          <button (click)="editData(i)" class="btn btn-edit">Edit</button>
<button (click)="deleteData(i)" class="btn btn-delete">Delete</button>
         <hr style="border: 1px solid black;">

      </div>
    </mat-list>
  </div>
</div>

