.first-line{
    text-align: center;
}


.login-container {
  max-width: 450px;
  margin: 40px auto; /* centers horizontally with margin on top and bottom */
  padding: 30px 25px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
